{
	"arrowParens": "always",
	"printWidth": 80,
	"semi": false,
	"singleQuote": true,
	"trailingComma": "none",
	"useTabs": true,
	"singleAttributePerLine": true,
	"quoteProps": "as-needed",
	"bracketSpacing": false
}
